rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isLoggedIn() {
      return request.auth != null;
    }
    function isOwner(userId) {
      return request.auth.uid == userId;
    }

    match /profiles/{userId} {
      allow read: if true;
      allow create, update: if isOwner(userId);
      allow delete: if isLoggedIn();
    }

    match /adminOverrides/{userId} {
      allow read, write: if true;
    }

    match /meetings/{meetingId} {
      allow read: if true;
      allow write: if isLoggedIn();
    }

    match /posts/{postId} {
      allow read: if true;
      allow create: if isLoggedIn();
      allow update: if isLoggedIn();
      allow delete: if isLoggedIn() &&
        request.auth.uid == resource.data.authorId;
      match /comments/{commentId} {
        allow read: if true;
        allow create: if isLoggedIn();
        allow delete: if isLoggedIn() &&
          request.auth.uid == resource.data.authorId;
      }
    }

    match /chats/{roomId}/messages/{msgId} {
      allow read: if true;
      allow create: if isLoggedIn();
    }

    match /rooms/{roomId} {
      allow read: if true;
      allow create: if isLoggedIn();
      allow update: if isLoggedIn();
      allow delete: if isLoggedIn();
    }

    match /events/{eventId} {
      allow read: if true;
      allow create: if isLoggedIn();
      allow update, delete: if isLoggedIn() &&
        request.auth.uid == resource.data.creatorId;
    }

    match /missions/{userId} {
      allow read: if true;
      allow write: if isOwner(userId);
      allow delete: if isLoggedIn();
    }

    match /deletedAccounts/{username} {
      allow read, write: if true;
    }
  }
}
